<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="users">The total number of the users into the our usersApp is : <%= count %> . </h1>
   <button style="height: 40px; width: 150px; background-color: brown; color: white;border-radius:10%; font-weight: 800;">Join us today!</button>


</body>
</html>