body{
    background-color: blanchedalmond;
    color: brown;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
div{
    height: 100%;
    width:100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}